{% extends "layout.html.j2" %}

{% block title %}Create Order - Pizzeria{% endblock %}

{% block content %}
<h1>Create a New Order</h1>
<form action="/create-order" method="post">
    <label for="pizza">Pizza:</label>

</form>
{% endblock %}