{% extends "base.html.j2" %}

{% block title %}Order History - Pizzeria{% endblock %}

{% block content %}
<h1>Order History</h1>
<ul>
    {% for order in orders %}
        <li>Order #{{ order.id }} - {{ order.date }} - {{ order.total }} USD</li>
    {% endfor %}
</ul>
{% endblock %}