{% extends "layout.html.j2" %}

{% block title %}Home - Pizzeria{% endblock %}

{% block content %}
<h1>Welcome to our Pizzeria!</h1>
<p>Order your favorite pizza online.</p>
    {{ current_user.email }}
{% endblock %}